{% extends 'base/base.html' %}
{% load static %}
{% block title %}SeriesFlix - Gênero{% endblock title %}


{% block body %}

    <main class="container p-4" >
        <div class="container">
            {% if genero_records %}
            <table class="table d-table table-bordered table-dark">
              <thead>
                <tr>
                  <th scope="col">Genero</th>
                  <th scope="col">Alterar</th>
                  <th scope="col">Excluir</th>
                </tr>
              </thead>
              <tbody>
                {% for genero in genero_records %}
                <tr>
                  <td>{{ genero.descricao }}</td>
                  <td><button class="btn btn-warning" onclick="updateItem({{genero.id}})" >Alterar</button></td>
                  <td><button class="btn btn-danger" onclick="deleteItem({{genero.id}})">Deletar</button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <h3 class="text-center"> Vazio </h3>
            {% endif %}
        </div>

        <div class="container p-4">
            <div class="p-4 row justify-content-center">
                <div class="cols align-content-center">
                    <form onsubmit="/genero" method="post">

                        {{ form }}
                        {% csrf_token %}

                        <input type="submit" id="name" class="btn btn-dark" value="Enviar" />
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
    function deleteItem(id){
        <!-- seleciona o objeto desejado pelo value-->
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        <!-- Novo request-->
        const request = new Request(
        "/genero/delete/"+id,
        {headers: {'X-CSRFToken': csrftoken}}
        );
        fetch(request, {
            method: 'DELETE',
            mode: 'same-origin'
        }).then(function(response) {
            if(response.status===500){
                alert("Não foi possível excluir. Gênero em uso.");
            } else{
                location.replace("/genero")
            }
        })
    }

    function updateItem(id) {
        location.replace("/genero/update/"+id)
    }

    </script>

{% endblock %}