<footer class="main-footer fixed-bottom pt-1">
    <div>
        <a href="https://www.facebook.com/lucas.ravellys">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/Ravellys3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/ravellys/">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/__ravellys__">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://github.com/ravellys">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa fa-github"></i>
        </a>
    </div>
</footer>
