    <footer class="fixed-bottom pt-1">
        <a href="https://www.facebook.com/lucas.ravellys">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/Ravellys3">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/ravellys/">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/__ravellys__">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://github.com/ravellys">
            <i class="fa fa-github"></i>
        </a>
    </footer>
