   <footer class="fixed-bottom main-footer mt-2 pt-2 text-light">
      <div class="container">
          <div class="row">
              <div class=" col">
                  <h3>Entre em contato</h3>
                  <address>
                      <a href="tel:+5512997411854" class="text-light">+55 12 997-411-854</a>
                      <br/>
                      <a href="mailto:{{ contato_email }}" class="text-light">{{ contato_email }}</a>
                  </address>
              </div>
          </div>
      </div>

      <div class="rights pb-4">
          <div class="container">

              <div class="row">
                    <div class="col">
                        {% now 'Y' %} ravellys
                    </div>
              </div>
          </div>
      </div>
  </footer>
