.main-footer{
    background-color: #282a36;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #44475a;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

li a:hover {
    color: white;
    background: #44475a;
    font-weight: bolder;

}

a {
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #ccc;
    text-decoration: none;
    margin: 0 32px;
    transform: rotate(-30deg) skew(25deg);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fa {
    width: 100%;
    height: 100%;
    font-size: 28px;
    border-radius: 4px;
    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cor */

a:nth-child(1) i,
a:nth-child(1) span {
    background: #3b5999;
}

a:nth-child(2) i,
a:nth-child(2) span {
    background: #55acee;
}

a:nth-child(3) i,
a:nth-child(3) span {
    background: #dd4b39;
}

a:nth-child(4) i,
a:nth-child(4) span {
    background: #0077b5;
}

a:nth-child(5) i,
a:nth-child(5) span {
    background: #e4405f;
}c